<%= stylesheet_link_tag "pokemons" %>
<h3>Correct So Far: <%= @number_correct %></h3>
<p><%= @question.content %>.</p>

<%= form_with model:@question do |f|%>
<label>Choices:</label><br>
<label><%= @answer1 %></label>
<%= f.radio_button :user_answer, @answer1 %><br>
<label><%= @answer2 %></label>
<%= f.radio_button :user_answer, @answer2 %><br>
<label><%= @answer3 %></label>
<%= f.radio_button :user_answer, @answer3   %><br>
<label><%= @answer4 %></label>
<%= f.radio_button :user_answer, @answer4   %><br>
<%= f.submit "Submit" %>
<%end %>

<%= link_to "Quit", root_path %>

