<%= stylesheet_link_tag "pokemons" %>
<h3>Correct So Far: <%= @number_correct %></h3>

<p><%= @question.content %>.</p>

<%= form_for @question do |f| %>
<%=  %>
<ul>
<li><%= @question.op1 %></li>
<li><%= @question.op2 %></li>
<li><%= @question.op3 %></li>
<li><%= @question.op4 %></li>
<li><%= f.submit "Submit"%></li>
<%end%>

</ul>
<div class="col-md-5">
    <a class="btn btn-primary" <%= link_to 'Quit', root_path %></a>
</div>

