<%= stylesheet_link_tag "users" %>

<%= bootstrap_form_for @user do |f| %><br><br>
    <h2><%= f.label :Create_Account %></h2>
    <%= f.text_field :username %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.password_field :password_confirmation, placeholder: "re-type Password" %>
    <%= f.submit "Log In" %>
<% end %> 