<%= stylesheet_link_tag "pokemons" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
    <h1><%=link_to "Moves", moves_path %></h1>
      <hr>
      <%= simple_form_for :search, url: moves_path, method: "GET", html: { class: 'form-inline' } do |f| %>
        <%= f.input :name, input_html: {value: ""} %>
        <%= f.submit "Search", class: "btn btn-primary" %>
      <% end %>
      <% @moves.each do |move| %>
        <h3><%= link_to move.name, move_path(move) %></h3>
      <% end %>
      <br><br>
      <%= link_to "Home", root_path %>
      <%= link_to "Pokemon", pokemons_path %>
    </div>
  </div>
</div>
