<% if flash[:error] %>
<% flash[:error].each do |e| %>
<p><%= e %></p>
<%end%>
<%end%>

<%= form_for @pokemon do |f| %>
<%= f.label "Name:" %>
<%= f.text_field :name %>
<br />
<%= f.label "Base Experience:" %>
<%= f.number_field :base_experience %>
<br />
<%= f.label "Height:" %>
<%= f.number_field :height %>
<br />
<%= f.label "Order:" %>
<%= f.number_field :order %>
<br />
<%= f.label "Weight:" %>
<%= f.number_field :weight %>
<br />
<%= f.label "Generation:" %>
<%= f.collection_select :generation_id, @generations, :id , :name %> 
<br/>
<%= f.label "Moves:" %>
<%= f.collection_check_boxes :move_ids, @moves, :id , :name %> 
<br/>
<%= f.submit %>
<% end %> 